@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap");
@import "../components/assets/assets.scss";
@import "../components/layouts/navbar/navbar.scss";
@import "../components/welcome/welcome.scss";
@import "../components/about/about.scss";
@import "../components/layouts/footer/footer.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*-------- aside css --------------*/
#principal {
  background-image: url("/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#info {
  background-image: url("/backgroundAbout.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh + 80px);
}
